block append styles 
    link(rel="stylesheet", href="/assets/events.css")

mixin list_events(items)
    ol.events
        each item in items
            li.events__item.event
                div.event__year= item.year
                div.event__text= item.description