block append styles 
    link(rel="stylesheet", href="/assets/events.css")

mixin list_events(type, items)
    ol.events
        each item in items
            li.events__item.event
                div.event__year
                    a(class="link event-link", href="/" + type + "/" + item.id)= item.year
                div.event__text= item.description